img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}
body{
    background-color: black;
    color: gray;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
a{
    background-color: aquamarine;
    color: black;
    display: block;
    text-decoration: none;
    text-align: center;
    border: solid;
    border-radius: 20px;
    padding: 10px;
    margin: 1px;
}
span{
    transition: .5s linear;
}
p:hover span:nth-child(1)::after{
    margin-right: 5px;
}
p:hover span:nth-child(1)::after{
    content:"'";
}
p:hover span:nth-child(1)::after{
    margin-left: 30px;
}
p:hover span{
    color:white;
    text-shadow: 0 0 10px #ffff,
    0 0 20px #ffff
    0 0 40px #ffff
    ;
}